/*Styling for all aka reset*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Sets body background */
body {
    background-color: #d9dcd6;
}
/*Styling for class header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Styling for h1 in header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Sets color of seo class in h1 under header*/
.header h1 .seo {
    color: #d9dcd6;
}
/*Sets section properties for header class */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*sets head, section & ul list style*/
.header section ul {
    list-style-type: none;
}
/*Sets properties for section,ul,li for class header*/
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Sets a links color*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*Sets paragraph font size*/
p {
    font-size: 16px;
}
/*Hero class properties*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Sets properties for class float-left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Sets properties for class float-right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Content class properties*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Benefits class properties*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Benifit-lead class properties*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Benifit-brand class properties*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Benifit-cost class properties*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Sets header 3 properties in Benifit-lead class*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Sets header 3 properties in Benifit-brand class*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Sets header 3 properties in Benifit-cost class*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Sets image properties in Benifit-lead class*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets image properties in Benifit-brand class*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* class benifit-cost img properties */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets section properties*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sets section properties*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sets section properties*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets img height */
.search-engine-optimization img {
    max-height: 200px;
}
/*Sets img height */
.online-reputation-management img {
    max-height: 200px;
}
/*Sets img height */
.social-media-marketing img {
    max-height: 200px;
}
/*Sets h2 properties for class search-engine..*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Sets h2 properties for class online-rep..*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Sets h2 properties for class social-media..*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*footer properties*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Sets h2 properties for footer*/
.footer h2 {
    font-size: 20px;
}
